/*-------SEÇÃO PRINCIPAIS LOCAIS-----*/
.product{
    cursor:pointer;
    margin-bottom: 2-rem;
}

.product img{
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.7;
}

.product .buy-btn{
    background: rgb(214, 6, 214);
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn{
    transform: translateY(0);
    opacity: 1;
}

hr{
    width: 30px;
    height: 2px;
    background-color: rgb(214, 6, 214);
}

button {
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    color: whitesmoke;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3 ease;
}

/*-------SEÇÃO PRINCIPAIS LOCAIS--*/
